<div class="container bg-primary">
  <br>
  <br>

  <div class="mat-display-3 center"><b>Calculator</b></div>

  <hr>

  <app-calculator></app-calculator>

  <br>
  <br>

  <div class="mat-display-3 center"><b>Table adaptive</b></div>

  <hr>

  <app-table-adaptive></app-table-adaptive>

  <br>
  <br>

  <div class="mat-display-3 center"><b>Animation canvas</b></div>

  <hr>

  <app-arc-chart></app-arc-chart>

  <br>
  <br>

  <div class="mat-display-3 center"><b>Draggin block</b></div>

  <hr>

  <app-dragging-block></app-dragging-block>

  <br>
  <br>

  <div class="mat-display-3 center"><b>Calendar</b></div>

  <hr>

  <app-calendar></app-calendar>

  <br>
  <br>
  <br>

  <div class="mat-display-3 center"><b>Loop slider</b></div>

  <hr>

  <app-loop-slider></app-loop-slider>

  <br>
  <br>
  <br>

  <div class="mat-display-3 center"><b>Custom vertical slider</b></div>

  <hr>

  <app-custom-vertical-slider></app-custom-vertical-slider>

  <br>
  <br>

  <div class="mat-display-3 center"><b>List with pagination</b></div>

  <hr>

  <app-list-pagination></app-list-pagination>

  <br>
  <br>

  <div class="mat-display-3 center"><b>Issue</b></div>

  <hr>

  <app-block-issue></app-block-issue>

  <br>
  <br>

</div>
