<section #issue class="blockIssue">
  <div class="blockIssue__container">
    <div class="blockIssue__inner">
      <div class="blockIssue__col blockIssue-ts">
        <picture>
          <source srcset="/assets/images/block-issue/issue1@1x.png,
                          /assets/images/block-issue/issue1@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/block-issue/issue1-mobile@1x.png"
                srcset="/assets/images/block-issue/issue1-mobile@2x.png 2x"
                alt="ballot">
        </picture>
        <picture>
          <source srcset="/assets/images/block-issue/issue1@1x.png,
                          /assets/images/block-issue/issue1@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/block-issue/issue1-mobile@1x.png"
                srcset="/assets/images/block-issue/issue1-mobile@2x.png 2x"
                alt="ballot">
        </picture>
      </div>
      <div class="blockIssue__col blockIssue-ts">
        <picture>
          <source srcset="/assets/images/block-issue/issue2@1x.png,
                          /assets/images/block-issue/issue2@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/block-issue/issue2-mobile@1x.png"
                srcset="/assets/images/block-issue/issue2-mobile@2x.png 2x"
                alt="ballot">
        </picture>
        <picture>
          <source srcset="/assets/images/block-issue/issue2@1x.png,
                          /assets/images/block-issue/issue2@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/block-issue/issue2-mobile@1x.png"
                srcset="/assets/images/block-issue/issue2-mobile@2x.png 2x"
                alt="ballot">
        </picture>
      </div>
      <div class="blockIssue__col blockIssue-ts">
        <picture>
          <source srcset="/assets/images/block-issue/issue3@1x.png,
                          /assets/images/block-issue/issue3@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/block-issue/issue3-mobile@1x.png"
                srcset="/assets/images/block-issue/issue3-mobile@2x.png 2x"
                alt="ballot">
        </picture>
        <picture>
          <source srcset="/assets/images/block-issue/issue3@1x.png,
                          /assets/images/block-issue/issue3@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/block-issue/issue3-mobile@1x.png"
                srcset="/assets/images/block-issue/issue3-mobile@2x.png 2x"
                alt="ballot">
        </picture>
      </div>
    </div>
  </div>
</section>
