.wrapHeader {
  position: sticky;
  top: 0;
  padding: 8px 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.12);
  z-index: 1001;

  > .container {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      & + li {
        margin-left: 8px;
      }

      a {
        display: inline-block;
        font-size: 20px;
        line-height: 40px;
        padding: 0 8px;
        text-decoration: none;

        &:hover:not(.active) {
          opacity: .8;
        }

        &:not(.color-active) {
          color: #fff;
        }
      }
    }
  }

  .accessibilityButtons {
    margin-left: auto;
  }
}

.accessibilityButtons {
  display: flex;
  align-items: center;
  margin-left: auto;

  .mat-icon:not(.color-active) {
    color: #fff;
  }

  .mat-icon-button {
    &[disabled] {
      opacity: .4;
    }
  }

  mat-divider {
    height: 24px;
    margin: 0 8px;
    border-right-color: #fff;
  }

}
