<div class="wrapHeader">
  <div class="container">
    <ul>
      <li><a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/features" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        Features
      </a></li>
    </ul>
    <div class="accessibilityButtons">
      <button mat-icon-button (click)="contrast()">
        <mat-icon>opacity</mat-icon>
      </button>
    </div>
  </div>
</div>
