// Helper classes of colors (frome material palette)
.color-accent-primary {
  color: mat-color($theme-primary, default);
}

.color-accent-primary-light {
  color: mat-color($theme-primary, lighter) !important;
}

.color-accent-primary-dark {
  color: mat-color($theme-primary, darker) !important;
}

.color-accent-secondary,
.color-active {
  color: mat-color($theme-accent, default) !important;
}

.color-accent-secondary-light {
  color: mat-color($theme-accent, lighter) !important;
}

.color-accent-secondary-dark {
  color: mat-color($theme-accent, darker) !important;
}

.color-warn {
  color: mat-color($theme-warn, default) !important;
}

.bg-error {
  background-color: mat-color($theme-warn, default);
}
