@use '@angular/material' as mat;
@include mat.core();

// light theme
$theme-light-primary: mat.define-palette(mat.$light-blue-palette, 500, 100, 700);
$theme-light-accent: mat.define-palette(mat.$light-green-palette, 500, 200, 700);
$theme-light-warn: mat.define-palette(mat.$deep-orange-palette, 500, 100, 700);

$custom-light-theme: mat.define-light-theme((
  color: (
    primary: $theme-light-primary,
    accent: $theme-light-accent,
    warn: $theme-light-warn
  )
));

// dark theme
$theme-dark-primary: mat.define-palette(mat.$cyan-palette, 500, 100, 700);
$theme-dark-accent: mat.define-palette(mat.$teal-palette, A700, 100, 700);
$theme-dark-warn: mat.define-palette(mat.$deep-orange-palette, 500, 100, 700);

$custom-dark-theme: mat.define-dark-theme((
  color: (
    primary: $theme-dark-primary,
    accent: $theme-dark-accent,
    warn: $theme-dark-warn
  )
));

.color-accent-primary {
  color: mat.get-color-from-palette($theme-light-primary, default) !important;
}

.color-accent-primary-light {
  color: mat.get-color-from-palette($theme-light-primary, lighter) !important;
}

.color-accent-primary-dark {
  color: mat.get-color-from-palette($theme-light-primary, darker) !important;
}

.color-accent-secondary,
.color-active {
  color: mat.get-color-from-palette($theme-light-accent, default) !important;
}

.color-accent-secondary-light {
  color: mat.get-color-from-palette($theme-light-accent, lighter) !important;
}

.color-accent-secondary-dark {
  color: mat.get-color-from-palette($theme-light-accent, darker) !important;
}

.color-warn {
  color: mat.get-color-from-palette($theme-light-warn, default) !important;
}

.bg-accent-primary {
  background-color: mat.get-color-from-palette($theme-light-primary, default) !important;
}

.bg-accent-primary-light {
  background-color: mat.get-color-from-palette($theme-light-primary, lighter) !important;
}

.bg-accent-primary-dark {
  background-color: mat.get-color-from-palette($theme-light-primary, darker) !important;
}

.bg-accent-secondary {
  background-color: mat.get-color-from-palette($theme-light-accent, default) !important;
}

.bg-accent-secondary-light {
  background-color: mat.get-color-from-palette($theme-light-accent, lighter) !important;
}

.bg-accent-secondary-dark {
  background-color: mat.get-color-from-palette($theme-light-accent, darker) !important;
}

.bg-error {
  background-color: mat.get-color-from-palette($theme-light-warn, default) !important;
}

@include mat.all-component-themes($custom-light-theme);

// include custom dark theme
.contrast {
  .color-accent-primary {
    color: mat.get-color-from-palette($theme-dark-primary, default) !important;
  }

  .color-accent-primary-light {
    color: mat.get-color-from-palette($theme-dark-primary, lighter) !important;
  }

  .color-accent-primary-dark {
    color: mat.get-color-from-palette($theme-dark-primary, darker) !important;
  }

  .color-accent-secondary,
  .color-active {
    color: mat.get-color-from-palette($theme-dark-accent, default) !important;
  }

  .color-accent-secondary-light {
    color: mat.get-color-from-palette($theme-dark-accent, lighter) !important;
  }

  .color-accent-secondary-dark {
    color: mat.get-color-from-palette($theme-dark-accent, darker) !important;
  }

  .color-warn {
    color: mat.get-color-from-palette($theme-dark-warn, default) !important;
  }

  .bg-accent-primary {
    background-color: mat.get-color-from-palette($theme-dark-primary, default !important);
  }

  .bg-accent-primary-light {
    background-color: mat.get-color-from-palette($theme-dark-primary, lighter) !important;
  }

  .bg-accent-primary-dark {
    background-color: mat.get-color-from-palette($theme-dark-primary, darker) !important;
  }

  .bg-accent-secondary {
    background-color: mat.get-color-from-palette($theme-dark-accent, default) !important;
  }

  .bg-accent-secondary-light {
    background-color: mat.get-color-from-palette($theme-dark-accent, lighter) !important;
  }

  .bg-accent-secondary-dark {
    background-color: mat.get-color-from-palette($theme-dark-accent, darker) !important;
  }

  .bg-error {
    background-color: mat.get-color-from-palette($theme-dark-warn, default) !important;
  }

  @include mat.all-component-colors($custom-dark-theme);
}

// Helper classes of colors (frome custom variables)
.color-base {
  color: var(--colorBase);
}

.color-primary {
  color: var(--colorPrimary);
}

.color-secondary {
  color: var(--colorSecondary);
}

.bg-header {
  background-color: var(--bgHeader);
}

.bg-primary {
  background-color: var(--bgPrimary);
}

.bg-secondary {
  background-color: var(--bgSecondary);
}

.bg-third {
  background-color: var(--bgThird);
}
