.upper {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.flex {
  display: flex;
}

.flex-between-center {
  @extend .flex;
  justify-content: center;
}

.flex-grow-1 {
  flex-grow: 1;
}
