:root {
  --primaryFont: "CircularStd-Book", sans-serif;

  --colorPrimary: rgba(0,0,0,.87);
  --colorSecondary: rgba(0,0,0,.6);
  --colorDisabled: rgba(0,0,0,.54);
  --colorError: #de1749;
  --colorAccent: #1984f6;
  --colorSuccessful: #6BBC0D;

  --bgPrimary: #282828;
}
